<div class="root" style="position: relative">
    <i ng-show="isProcessing" class="fa fa-spinner fa-spin fa-3x spinner"></i>

    <div class="control flex-container"
         ng-init="showSecurityControl = false; showIndicatorControl = false; showBenchmarkControl = false;">
        <!-- security & attributes selection -->
        <span>
                <input type="text" ng-model="defaultSecurityAttribute" class="form-control"
                       style="width: 12em; display: inline;"
                       typeahead="attr as attr.label for attr in availableSecurityAttributes | filter:$viewValue:$emptyOrMatch | limitTo:8"
                       typeahead-editable="false"
                       typeahead-focus />
            <a><i ng-click="toggleSlide(!showSecurityControl, 'security-control'); showSecurityControl = !showSecurityControl"
                  class="fa clickable"
                  ng-class="{'fa-chevron-up': showSecurityControl, 'fa-chevron-down': !showSecurityControl}"></i></a>
        </span>
        <!-- TODO implement these date functionalities -->
        <span>
            <a class="clickable dsc-padding-right" ng-repeat="period in customDefaultTimePeriods" ng-click="selectTimePeriod(period)"
                                                                                style="padding-right:5px;">
                {{period}}
            </a>
            <a class="clickable"
               ng-click="toggleSlide(!showDateControl, 'date-control');
                         showDateControl = !showDateControl;
                         dateChangeError = false;
                         start = states.dateRange.start;
                         end = states.dateRange.end">
                <i class="fa fa-calendar"></i>
            </a>
            <div class="date-control floating-form" style="display: none;">
                <label>From&nbsp;<input type="date" class="form-control"
                                        style="display: inline; width: 12em;" ng-model="start"/></label>
                <label>To&nbsp;<input type="date" class="form-control"
                                      style="display: inline; width: 12em;" ng-model="end"/></label>
                <button class="btn btn-success"
                        ng-click="dateChangeError = apiHandle.api.changeDateRange(start, end);
                                  dateChangeError ? null : showDateControl = !showDateControl;">
                    <i class="fa fa-play"></i>
                </button>
            </div>
        </span>
        <span>
            <span class="flex-container">
                <span class="menu-container">
                    <a class="clickable"
                       ng-click="toggleSlide(!showIndicatorControl,'indicator-control'); showIndicatorControl = !showIndicatorControl">
                        <i class="fa fa-plus"></i>&nbsp;Macro Indicator &amp; Market Index
                    </a>
                    <div class="indicator-control floating-form" style="display: none;">
                        <label>
                            Search&nbsp;
                            <input type="text" placeholder="ex: S&P 500, Financial CDS ..." class="form-control"
                                   style="width: 26em;"
                                   ng-model="selected"
                                   typeahead="attr.label for attr in marketIndexTypeahead({userInput: $viewValue}) | filter:$viewValue:$emptyOrMatch | limitTo:8"
                                   typeahead-on-select="addMarketIndicator($item); selected = '';showIndicatorControl = false;"
                                   typeahead-editable="false"
                                   typeahead-focus/>
                        </label>
                    </div>
                </span>
                <span> &nbsp; </span>
                <span class="menu-container">
                    <a class="clickable" style="padding-left:5px;"
                       ng-click="toggleSlide(!showBenchmarkControl, 'benchmark-control'); showBenchmarkControl = !showBenchmarkControl">
                        <i class="fa fa-plus"></i>&nbsp;Custom Benchmark
                    </a>
                    <div class="benchmark-control floating-form" style="display: none;"
                         ng-init="customBenchmark = {sector: 'Corporates', wal: 'All', rating: 'All', analytic: {tag: 'oas', label:'OAS' }}">
                        <alert ng-show="alerts.customBenchmark.active" close="alerts.customBenchmark.active = false" type="danger">{{alerts.customBenchmark.message}}</alert>
                        <label>
                            Sector&nbsp;
                            <input type="text" class="form-control" style="width: initial;"
                                   ng-model="customBenchmark.sector"
                                   typeahead="sector for sector in customBenchmarkOptions.sectors | filter:$viewValue:$emptyOrMatch | limitTo:8"
                                   typeahead-editable="false"
                                   typeahead-focus/>
                        </label>
                        <label>
                            Rating&nbsp;
                            <input type="text" class="form-control" style="width: initial;"
                                   ng-model="customBenchmark.rating"
                                   typeahead="rating for rating in customBenchmarkOptions.ratings | filter:$viewValue:$emptyOrMatch | limitTo:8"
                                   typeahead-editable="false"
                                   typeahead-focus/>
                        </label>
                        <label>
                            WAL&nbsp;
                            <input type="text" class="form-control" style="width: initial;"
                                   ng-model="customBenchmark.wal"
                                   typeahead="wal for wal in customBenchmarkOptions.wal | filter:$viewValue:$emptyOrMatch | limitTo:8"
                                   typeahead-editable="false"
                                   typeahead-focus/>
                        </label>
                        <label>
                            Analytic&nbsp;
                            <input type="text" class="form-control" style="width: initial;"
                                   ng-model="customBenchmark.analytic"
                                   typeahead="attr.label for attr in customBenchmarkOptions.analytics | filter:$viewValue:$emptyOrMatch | limitTo:8"
                                   typeahead-editable="false"
                                   typeahead-focus/>
                        </label>
                        <button class="btn btn-success" ng-click="showBenchmarkControl = !addCustomBenchmark(customBenchmark)"><i
                                class="fa fa-play"></i></button>
                    </div>
                </span>
            </span>
        </span>
        <span>
            <a class="clickable" style="padding-right:5px;" ng-click="exportXLS()"><i class="fa fa-share-square-o"></i></a>
            <a class="clickable" style="padding-right:5px;" ng-repeat="customButton in customButtons" ng-click="customButton.callback()">
                <i class="fa" ng-class="customButton.faClass"></i>
            </a>
        </span>
    </div>
    <div class="security-control floating-form" style="display: none;">
        <div ng-show="states.securityAttrMap.length === 0">
            <h5>No Security Selected</h5>
        </div>
        <div class="flex-container">
            <div class="wrappable-flex-item" ng-repeat="securityAttrPair in states.securityAttrMap">
                <!-- selected attributes display -->
                    <span class="label label-success">{{securityAttrPair[0].label}} | <i class="fa fa-remove clickable"
                                                                                         ng-click="apiHandle.api.removeSecurity(securityAttrPair[0].id)"></i></span>
                    <span class="label label-primary" ng-repeat="attr in securityAttrPair[1]">
                            {{attr.label}} | <i class="fa fa-remove clickable"
                                                ng-click="removeAttr(attr, securityAttrPair)"></i>
                    </span>
                <!-- input to select more attributes-->
                &nbsp;
                <input type="text"
                       placeholder="+ Attribute"
                       ng-disabled="securityAttrPair[1].length >= 2"
                       ng-model="selected"
                       typeahead="attr.label for attr in availableSecurityAttributes | filter:$viewValue | limitTo:8"
                       class="form-control"
                       style="width: 8em; display: inline;"
                       typeahead-on-select="addAttr($item, securityAttrPair); selected = ''">

            </div>
        </div>
    </div>
    <hr/>
    <div ng-attr-id="{{'enriched-highstock-'+id}}" style="width:100%;height:100%;">
        <!-- this is where the stock chart goes -->
    </div>
    <alert ng-show="alerts.generalWarning.active" style="position:absolute;bottom:0;right:0;"
           close="alerts.generalWarning.active = false" type="danger">
        {{alerts.generalWarning.message}}
    </alert>
</div>
