<div class="root" style="position: relative;height:100%">
    <div class="control flex-main-container"
         ng-init="showSecurityControl = false; showIndicatorControl = false; showBenchmarkControl = false; showClientBenchmarkControl = false;">
        <span class="flex-sub-container-left">
            <!-- security & attributes selection -->
            <span dsc-click-outside dsc-open-state="states.menuDisplays.securityControl"
                  dsc-close-callback="toggleSlide(!states.menuDisplays.securityControl, 'security-control')">
                <span class="restrict-dropdown-menu" >
                    <input type="text" ng-model="defaultSecurityAttribute" class="form-control" ng-hide="multipleAttributesExist"
                           style="width: 12em; display: inline; height:25px;"
                           typeahead="attr as attr.label for attr in availableSecurityAttributes | filter:$viewValue:$emptyOrMatch | orderBy:'label.toString()'"
                           typeahead-on-select="apiHandle.api.changeDefaultSecurityAttribute($item)"
                           typeahead-focus
                           typeahead-select-on-blur="true"/>
                    <input id="multipleLabelInput" type="text" ng-show="multipleAttributesExist" class="form-control"
                           style="width: 12em; display: inline; height:25px;" placeholder="Multiple" disabled="true"
                           />
                </span>
                <a><i ng-click="toggleSlide(!states.menuDisplays.securityControl, 'security-control')"
                      class="fa clickable"
                      ng-class="{'fa-chevron-up': states.menuDisplays.securityControl, 'fa-chevron-down': !states.menuDisplays.securityControl}"></i></a>
                <div class="security-control floating-form" style="display: none;top:35px;left:0;">
                    <div ng-show="states.securityAttrMap.length === 0">
                        <h5>No Security Selected</h5>
                    </div>
                    <div class="flex-container">
                        <span class="wrappable-flex-item" ng-repeat="securityAttrPair in states.securityAttrMap">
                            <!-- selected attributes display -->
                            <span class="label label-success">{{securityAttrPair[0].label}} | <i class="fa fa-remove clickable"
                                                                                                 ng-click="apiHandle.api.removeSecurity(securityAttrPair[0].id)"></i></span>
                            <span class="label label-primary" ng-repeat="attr in securityAttrPair[1]">
                                    {{attr.label}} | <i class="fa fa-remove clickable"
                                                        ng-click="removeAttr(attr, securityAttrPair)"></i>
                            </span>
                            <!-- input to select more attributes-->
                            &nbsp;
                            <input type="text"
                                   placeholder="+ Attribute"
                                   ng-model="selected"
                                   typeahead="attr as attr.label for attr in availableSecurityAttributes | filter:$viewValue:$emptyOrMatch | orderBy:'label.toString()'"
                                   class="form-control"
                                   style="width: 8em; display: inline;"
                                   typeahead-on-select="addAttr($item, securityAttrPair); selected = ''"
                                   typeahead-focus>

                        </span>
                    </div>
                </div>
            </span>
            <!-- TODO implement these date functionalities -->
            <span style="padding-left:25px;">
                <span class="clickable dsc-padding-right" ng-repeat="period in customDefaultTimePeriods" ng-click="selectTimePeriod(period)"
                      style="padding-right:5px;color:#005da0;"
                      ng-class="{'dsc-underline': period === states.selectedTimePeriod}">{{period}}</span>
                <span style="color:#005da0;overflow: hidden"
                      dsc-click-outside
                      dsc-open-state="states.menuDisplays.dateControl"
                      dsc-close-callback="toggleSlide(!states.menuDisplays.dateControl, 'date-control')">
                    <i class="fa fa-calendar clickable" ng-click="toggleSlide(!states.menuDisplays.dateControl, 'date-control');
                             start = states.dateRange.start.getYYYYMMDD();
                             end = states.dateRange.end.getYYYYMMDD()"></i>
                    <div class="date-control floating-form" style="display: none;">
                        <alert ng-show="alerts.dateChangeError.active" close="alerts.dateChangeError.active = false" type="danger" style="font-size: 12px;">
                            {{alerts.dateChangeError.message}}
                            <br/>
                            Format: YYYY-MM-DD
                        </alert>
                        <label>From&nbsp;</label>
                        <div class="input-group limited-input">
                            <input type="text" class="form-control"
                                   datepicker-popup
                                   is-open="startDatePickerOpen"
                                   ng-model="start"
                                   close-text="Close"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="startDatePickerOpen = !startDatePickerOpen"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                        <label>To&nbsp;</label>
                        <div class="input-group limited-input">
                            <input type="text" class="form-control"
                                   datepicker-popup
                                   is-open="endDatePickerOpen"
                                   ng-model="end"
                                   close-text="Close"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="endDatePickerOpen = !endDatePickerOpen"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                        <hr/>
                        <button class="btn btn-success"
                                ng-click="alerts.dateChangeError.message = apiHandle.api.changeDateRange(start, end);
                                          alerts.dateChangeError.message ? null : showDateControl = !showDateControl;
                                          states.selectedTimePeriod = null;">
                            <i class="fa fa-play"></i>
                        </button>
                    </div>
                </span>
            </span>
        </span>
        <span class="flex-sub-container-right">

            <span dsc-click-outside dsc-open-state="states.menuDisplays.comparisonControl"
                  dsc-close-callback="toggleSlide(!states.menuDisplays.comparisonControl,'comparison-control')" style="padding-right:8px">
                <a class="clickable" style="text-decoration:none"
                   ng-click="toggleSlide(!states.menuDisplays.comparisonControl,'comparison-control');selected='';">
                    <span class="fake-anchor-tag">Comparison</span>
                    <i class="fa" ng-class="{'fa-chevron-up': states.menuDisplays.comparisonControl, 'fa-chevron-down': !states.menuDisplays.comparisonControl}"></i>
                </a>
                <div class="comparison-control floating-form-comparison" style="display: none;right:0">
                    <ul class="tab tab-style">
                        <li class="position-li-tab" ng-show="showMarketIndicators">
                            <span dsc-click-outside dsc-open-state="states.menuDisplays.indicatorControl"
                                  dsc-close-callback="toggleSlide(!states.menuDisplays.indicatorControl,'indicator-control')">
                                    <a class="clickable list-element-style" style="text-decoration:none"
                                    ng-click="toggleSlide(!states.menuDisplays.indicatorControl,'indicator-control');selected='';">
                                        <span class="fake-anchor-tag">Market Indicators</span>
                                        <i class="fa" ng-class="{'fa-chevron-up': states.menuDisplays.indicatorControl,
                                        'fa-chevron-down': !states.menuDisplays.indicatorControl}"></i>
                                    </a>
                                    <div class="indicator-control floating-form" style="display: none;width:250px;right:0">
                                        <label>
                                        Search&nbsp;
                                        </label>
                                        <span class="restrict-dropdown-menu">
                                        <input type="text" placeholder="ex: Brent Crude, CDS..." class="form-control"
                                            ng-model="selected"
                                            typeahead="attr.label for attr in marketIndexTypeahead({userInput: $viewValue}) | filter:$viewValue:$emptyOrMatch | orderBy:'label.toString()'"
                                            typeahead-on-select="apiHandle.api.addMarketIndicator($item); selected = '';showIndicatorControl = false;"
                                            typeahead-focus/>
                                        </span>
                                        <a class="clickable" ng-if="showMoreMarketInfo" ng-click="moreMarketInfoCallback()">Show All</a>
                                    </div>
                            </span>
                        </li>
                        <li class="position-li-tab" ng-show="showBenchmark">
                            <span dsc-click-outside dsc-open-state="states.menuDisplays.benchmarkControl"
                                  dsc-close-callback="toggleSlide(!states.menuDisplays.benchmarkControl, 'benchmark-control')"
                                  style="padding-right:10px" >
                                    <a class="clickable list-element-style" style="padding-left:5px;text-decoration:none;"
                                        ng-click="toggleSlide(!states.menuDisplays.benchmarkControl, 'benchmark-control');">
                                        <span class="fake-anchor-tag">Custom Benchmark</span>
                                        <i class="fa" ng-class="{'fa-chevron-up': states.menuDisplays.benchmarkControl,
                                        'fa-chevron-down': !states.menuDisplays.benchmarkControl}"></i>
                                    </a>
                                    <div class="benchmark-control floating-form" style="display: none;right:0;width:220px">
                                        <alert ng-show="alerts.customBenchmark.active" close="alerts.customBenchmark.active = false" type="danger" style="font-size: 12px;">
                                            There were problems with your input
                                            <br/><br/>
                                            <ul style="list-style:inside;padding-left:0;">
                                                <li ng-repeat="message in alerts.customBenchmark.messages">{{message}}</li>
                                            </ul>
                                        </alert>
                                        <label>
                                            Sector&nbsp;
                                            <span class="restrict-dropdown-menu-small">
                                                <input type="text" class="form-control length-md"
                                                       ng-model="customBenchmark.sector"
                                                       typeahead="sector for sector in customBenchmarkOptions.sectors | filter:$viewValue:$emptyOrMatch | orderBy:'toString()'"
                                                       typeahead-focus
                                                       typeahead-select-on-blur="true"/>
                                            </span>
                                        </label>
                                        <label>
                                            Rating&nbsp;
                                            <span class="restrict-dropdown-menu-small">
                                                <input type="text" class="form-control length-md"
                                                       ng-model="customBenchmark.rating"
                                                       typeahead="rating for rating in customBenchmarkOptions.ratings | filter:$viewValue:$emptyOrMatch | orderBy:'toString()'"
                                                       typeahead-focus
                                                       typeahead-select-on-blur="true"/>
                                            </span>
                                        </label>
                                        <label>
                                            WAL&nbsp;
                                            <span class="restrict-dropdown-menu-small">
                                                <input type="text" class="form-control length-md"
                                                       ng-model="customBenchmark.wal"
                                                       typeahead="wal for wal in customBenchmarkOptions.wal | filter:$viewValue:$emptyOrMatch | orderBy:sortWalBuckets"
                                                       typeahead-focus
                                                       typeahead-select-on-blur="true"/>
                                            </span>
                                        </label>
                                        <label>
                                            Analytic&nbsp;
                                            <span class="restrict-dropdown-menu-small">
                                                <input type="text" class="form-control length-md"
                                                       ng-model="customBenchmark.analytic"
                                                       typeahead="attr as attr.label for attr in customBenchmarkOptions.analytics | filter:$viewValue:$emptyOrMatch | orderBy:'label.toString()'"
                                                       typeahead-focus
                                                       typeahead-select-on-blur="true"/>
                                            </span>
                                        </label>
                                        <label>
                                            Currency&nbsp;
                                            <span class="restrict-dropdown-menu-small">
                                                <input type="text" class="form-control length-md" ng-disabled="true" value="USD"/>
                                            </span>
                                        </label>
                                        <br/>
                                        <button class="btn btn-success" ng-click="apiHandle.api.addCustomBenchmark(customBenchmark)"><i
                                        class="fa fa-play"></i></button>
                                    </div>
                            </span>
                        </li>
                        <li class="position-li-tab" ng-show="showClientBenchmark">
                            <span dsc-click-outside dsc-open-state="states.menuDisplays.clientBenchmarkControl"
                                  dsc-close-callback="toggleSlide(!states.menuDisplays.clientBenchmarkControl, 'client-benchmark-control')"
                                  style="padding-right:10px" >
                                    <a class="clickable list-element-style" style="padding-left:5px;text-decoration:none;"
                                       ng-click="toggleSlide(!states.menuDisplays.clientBenchmarkControl, 'client-benchmark-control');">
                                        <span class="fake-anchor-tag">Index</span>
                                        <i class="fa" ng-class="{'fa-chevron-up': states.menuDisplays.clientBenchmarkControl,
                                        'fa-chevron-down': !states.menuDisplays.clientBenchmarkControl}"></i>
                                    </a>
                                    <div class="client-benchmark-control floating-form" style="display: none;right:0;width:220px">
                                        <alert ng-show="alerts.clientBenchmark.active" close="alerts.clientBenchmark.active = false" type="danger" style="font-size: 12px;">
                                            There were problems with your input
                                            <br/><br/>
                                            <ul style="list-style:inside;padding-left:0;">
                                                <li ng-repeat="message in alerts.clientBenchmark.messages">{{message}}</li>
                                            </ul>
                                        </alert>
                                        <label>
                                        Search Index&nbsp;
                                        </label>
                                        <span class="restrict-dropdown-menu">
                                        <input type="text" placeholder="Please enter an index" class="form-control"
                                               ng-model="indexTicker"
                                               typeahead="index.indexTicker+' | '+index.fullName for index in clientBenchmarkTypeahead({userInput: $viewValue}) | filter:$viewValue:$emptyOrMatch | orderBy:'indexTicker.toString()'"
                                               typeahead-on-select="apiHandle.api.addClientBenchmark($item); indexTicker = '';showClientBenchmarkControl = false;"/>
                                        </span>
                                        <br/>
                                    </div>
                            </span>
                        </li>
                        <li class="position-li-tab" ng-show="showCdxIndex">
                            <span dsc-click-outside dsc-open-state="states.menuDisplays.cdxControl"
                                  dsc-close-callback="toggleSlide(!states.menuDisplays.cdxControl, 'cdx-control')"
                                  style="padding-right:10px" >
                                    <a class="clickable list-element-style" style="padding-left:5px;text-decoration:none;"
                                       ng-click="toggleSlide(!states.menuDisplays.cdxControl, 'cdx-control');">
                                        <span class="fake-anchor-tag">CDS Index</span>
                                        <i class="fa" ng-class="{'fa-chevron-up': states.menuDisplays.cdxControl, 'fa-chevron-down': !states.menuDisplays.cdxControl}"></i>
                                    </a>
                                    <div class="cdx-control floating-form" style="display: none;right:0;width:220px">
                                        <alert ng-show="alerts.cdxIndex.active" close="alerts.cdxIndex.active = false" type="danger" style="font-size: 12px;">
                                            There were problems with your input
                                            <br/><br/>
                                            <ul style="list-style:inside;padding-left:0;">
                                                <li ng-repeat="message in alerts.cdxIndex.messages">{{message}}</li>
                                            </ul>
                                        </alert>
                                        <label>
                                            Contract Type&nbsp;
                                            <span class="restrict-dropdown-menu-small">
                                                <input type="text" class="form-control length-md"
                                                       ng-model="cdxIndex.contractType"
                                                       typeahead="contractType for contractType in cdxIndexOptions.contractTypes | filter:$viewValue:$emptyOrMatch | orderBy:'toString()'"
                                                       typeahead-focus
                                                       typeahead-select-on-blur="true"/>
                                            </span>
                                        </label>
                                        <label>
                                            Contract Tenor&nbsp;
                                            <span class="restrict-dropdown-menu-small">
                                                <input type="text" class="form-control length-md"
                                                       ng-model="cdxIndex.contractTenor"
                                                       typeahead="contractTenor for contractTenor in cdxIndexOptions.contractTenors | filter:$viewValue:$emptyOrMatch"
                                                       typeahead-focus
                                                       typeahead-select-on-blur="true"/>
                                            </span>
                                        </label>
                                        <label>
                                            On-the-run/Off-the-run&nbsp;
                                            <span class="restrict-dropdown-menu-small">
                                                <input type="text" class="form-control length-md"
                                                       ng-model="cdxIndex.otrFlag"
                                                       typeahead="otrFlag for otrFlag in cdxIndexOptions.otrFlags | filter:$viewValue:$emptyOrMatch "
                                                       typeahead-focus
                                                       typeahead-select-on-blur="true"/>
                                            </span>
                                        </label>
                                        <br/>
                                        <button class="btn btn-success" ng-click="apiHandle.api.addCdxIndex(cdxIndex)"><i
                                                class="fa fa-play"></i></button>
                                    </div>
                            </span>
                        </li>

                    </ul>
                </div>
            </span>


            <!--<span dsc-click-outside dsc-open-state="states.menuDisplays.indicatorControl"-->
                  <!--dsc-close-callback="toggleSlide(!states.menuDisplays.indicatorControl,'indicator-control')">-->
                <!--<a class="clickable" style="text-decoration:none"-->
                   <!--ng-click="toggleSlide(!states.menuDisplays.indicatorControl,'indicator-control');selected='';">-->
                    <!--<span class="fake-anchor-tag">Market Indicators</span>-->
                    <!--<i class="fa" ng-class="{'fa-chevron-up': states.menuDisplays.indicatorControl, 'fa-chevron-down': !states.menuDisplays.indicatorControl}"></i>-->
                <!--</a>-->
                <!--<div class="indicator-control floating-form" style="display: none;width:250px;right:0">-->
                    <!--<label>-->
                        <!--Search&nbsp;-->
                    <!--</label>-->
                    <!--<span class="restrict-dropdown-menu">-->
                        <!--<input type="text" placeholder="ex: Brent Crude, CDS..." class="form-control"-->
                                   <!--ng-model="selected"-->
                                   <!--typeahead="attr.label for attr in marketIndexTypeahead({userInput: $viewValue}) | filter:$viewValue:$emptyOrMatch | orderBy:'label.toString()'"-->
                                   <!--typeahead-on-select="apiHandle.api.addMarketIndicator($item); selected = '';showIndicatorControl = false;"-->
                                   <!--typeahead-focus/>-->
                    <!--</span>-->
                    <!--<a class="clickable" ng-if="showMoreMarketInfo" ng-click="moreMarketInfoCallback()">Show All</a>-->
                <!--</div>-->
            <!--</span>-->
            <!--<span dsc-click-outside dsc-open-state="states.menuDisplays.benchmarkControl"-->
                  <!--dsc-close-callback="toggleSlide(!states.menuDisplays.benchmarkControl, 'benchmark-control')"-->
                    <!--style="padding-right:10px" ng-init="customBenchmark = {}">-->
                <!--<a class="clickable" style="padding-left:5px;text-decoration:none;"-->
                   <!--ng-click="toggleSlide(!states.menuDisplays.benchmarkControl, 'benchmark-control');customBenchmark = {};">-->
                    <!--<span class="fake-anchor-tag">Benchmark</span>-->
                    <!--<i class="fa" ng-class="{'fa-chevron-up': states.menuDisplays.benchmarkControl, 'fa-chevron-down': !states.menuDisplays.benchmarkControl}"></i>-->
                <!--</a>-->
                <!--<div class="benchmark-control floating-form" style="display: none;right:0;width:220px">-->
                    <!--<alert ng-show="alerts.customBenchmark.active" close="alerts.customBenchmark.active = false" type="danger" style="font-size: 12px;">-->
                        <!--There were problems with your input-->
                        <!--<br/><br/>-->
                        <!--<ul style="list-style:inside;padding-left:0;">-->
                            <!--<li ng-repeat="message in alerts.customBenchmark.messages">{{message}}</li>-->
                        <!--</ul>-->
                    <!--</alert>-->
                    <!--<label>-->
                        <!--Sector&nbsp;-->
                        <!--<span class="restrict-dropdown-menu-small">-->
                            <!--<input type="text" class="form-control length-md"-->
                                   <!--ng-model="customBenchmark.sector"-->
                                   <!--typeahead="sector for sector in customBenchmarkOptions.sectors | filter:$viewValue:$emptyOrMatch | orderBy:'toString()'"-->
                                   <!--typeahead-focus-->
                                   <!--typeahead-select-on-blur="true"/>-->
                        <!--</span>-->
                    <!--</label>-->
                    <!--<label>-->
                        <!--Rating&nbsp;-->
                        <!--<span class="restrict-dropdown-menu-small">-->
                            <!--<input type="text" class="form-control length-md"-->
                                   <!--ng-model="customBenchmark.rating"-->
                                   <!--typeahead="rating for rating in customBenchmarkOptions.ratings | filter:$viewValue:$emptyOrMatch | orderBy:'toString()'"-->
                                   <!--typeahead-focus-->
                                   <!--typeahead-select-on-blur="true"/>-->
                        <!--</span>-->
                    <!--</label>-->
                    <!--<label>-->
                        <!--WAL&nbsp;-->
                        <!--<span class="restrict-dropdown-menu-small">-->
                            <!--<input type="text" class="form-control length-md"-->
                                   <!--ng-model="customBenchmark.wal"-->
                                   <!--typeahead="wal for wal in customBenchmarkOptions.wal | filter:$viewValue:$emptyOrMatch | orderBy:sortWalBuckets"-->
                                   <!--typeahead-focus-->
                                   <!--typeahead-select-on-blur="true"/>-->
                        <!--</span>-->
                    <!--</label>-->
                    <!--<label>-->
                        <!--Analytic&nbsp;-->
                        <!--<span class="restrict-dropdown-menu-small">-->
                            <!--<input type="text" class="form-control length-md"-->
                                   <!--ng-model="customBenchmark.analytic"-->
                                   <!--typeahead="attr as attr.label for attr in customBenchmarkOptions.analytics | filter:$viewValue:$emptyOrMatch | orderBy:'label.toString()'"-->
                                   <!--typeahead-focus-->
                                   <!--typeahead-select-on-blur="true"/>-->
                        <!--</span>-->
                    <!--</label>-->
                    <!--<label>-->
                        <!--Currency&nbsp;-->
                        <!--<span class="restrict-dropdown-menu-small">-->
                            <!--<input type="text" class="form-control length-md" ng-disabled="true" value="USD"/>-->
                        <!--</span>-->
                    <!--</label>-->
                    <!--<br/>-->
                    <!--<button class="btn btn-success" ng-click="apiHandle.api.addCustomBenchmark(customBenchmark)"><i-->
                            <!--class="fa fa-play"></i></button>-->
                <!--</div>-->
            <!--</span>-->
            <span>
                <span class="clickable" style="padding-right:5px;color:#005da0;" ng-click="exportXLS()" title="Excel"><i class="fa fa-file-excel-o"></i></span>
                <span class="clickable" style="padding-right:5px;color:#005da0;" ng-click="exportPDF()" title="PDF"><i class="fa fa-file-pdf-o"></i></span>
                <span class="clickable" style="padding-right:5px;color:#005da0;" ng-repeat="customButton in customButtons" ng-click="customButton.callback()">
                    <i class="fa" ng-class="customButton.faClass"></i>
                </span>
            </span>
        </span>
    </div>
    <hr/>
    <div class="chart-area-container">
        <i ng-show="isProcessing" class="fa fa-spinner fa-spin fa-3x spinner" style="position:absolute;top:0;left:0"></i>
        <!-- this is where the stock chart goes -->
        <div ng-attr-id="{{'enriched-highstock-'+id}}" style="width:100%;height:100%;"></div>
        <alert ng-show="alerts.generalWarning.active" style="position:absolute;bottom:0;right:0;"
               close="alerts.generalWarning.active = false" type="danger">
            {{alerts.generalWarning.message}}
        </alert>
    </div>
</div>
