<div class="root">
    <div class="control" ng-init="showSecurityControl = false">
        <!-- security & attributes selection -->
        <a ng-click="toggleSecurityControl(!showSecurityControl); showSecurityControl = !showSecurityControl">
            Selected Securities <i class="fa"
                                   ng-class="{'fa-chevron-up': showSecurityControl, 'fa-chevron-down': !showSecurityControl}"></i>
        </a>
        |
        <a>1M</a>
        &nbsp;
        <a>3M</a>
        &nbsp;
        <a>6M</a>
        &nbsp;
        <a>1Y</a>
        &nbsp;
        <a>All</a>

        <div class="security-control" style="display: none;">
            <hr/>
            <div ng-repeat="securityAttrPair in states.securityAttrMap">
                <!-- TODO use flex box styling -->
                <!-- selected attributes display -->
                <span class="label label-success">{{securityAttrPair[0].label}} | <i
                        class="fa fa-remove"></i></span>
                <span class="label label-primary" ng-repeat="attr in securityAttrPair[1]">
                    {{attr}} | <i class="fa fa-remove"
                                  ng-click="removeAttr(attr, securityAttrPair)"></i>
                </span>
                &nbsp;
                <!-- input to select more attributes-->
                <input type="text"
                       placeholder="Attribute to Plot"
                       ng-disabled="securityAttrPair[1].length >= 2"
                       ng-model="selected"
                       typeahead="attr for attr in availableSecurityAttributes | filter:$viewValue | limitTo:8"
                       class="form-control"
                       style="width: initial; display: inline;"
                       typeahead-on-select="addAttr($item, securityAttrPair); selected = ''">
            </div>

        </div>
    </div>
    <hr/>
    <div id="enriched-highstock-1" class="row">
        <!-- this is where the stock chart goes -->
    </div>
</div>
