.flex-container {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.wrappable-flex-item {
    padding-bottom: .5em;
    padding-right: .5em;
}

.floating-input {
    width: initial;
    display: inline;
    position: absolute;
}
